<div id="menu">
  <div class="container menuInfo">
    <!-- <h1> Menu </h1>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h2>Player Control Keys:</h2>
        <p> Up = Jump</p>
        <p> Left, Right, and Down = Movement</p>
        <p> SpaceBar = fire weapon</p>
      </div>
      <!-- <div class="col-md-2"></div> -->
      <!-- <div class="col-md-5">
        <h2>Instructions:</h2>
        <p> 1. Don't get shot, crushed, impailed, fall down, etc.</p>
        <p> 2. You only have 1 life. You die and you're done.</p>
        <p> 3. If your score goes below 0 you die.</p>
      </div>
    </div>  -->
    <div class="row">
      <div class="col-xs-2 col-sm-4"></div>
      <div class="col-xs-8 col-sm-4">
            <button class="btn btn-lg startBtn" ng-click="go('/grimm')">Start</button>
      </div>
      <div class="col-xs-2 col-sm-4"></div>
    </div>
  </div>
</div>
